/* .run_button button:hover{
	background: #00a65a;
	color: #fff;
} */
/* .run_button button{
	margin-right: 5px;
	border-radius: 50% !important;
	background: transparent;
	border: 1px solid #00a65a;
	color: #000;
} */
.run_button{
	margin-bottom: 15px;
} 

input[name=runs] {
    display:none; 
    margin:10px;
}

input[name=runs] + label {
    display:inline-block;
	margin:-2px;
	margin-right: 5px;
    padding: 4px 12px;
	background: transparent;
	border-radius: 100px;
	border: 1px solid #00a65a;
}

input[name=runs]:checked + label { 
   background-image: none;
   background: #00a65a;
   color: #fff;
}
input[name=runs]:hover + label { 
	background-image: none;
	background: #00a65a;
	color: #fff;
 }

@media(max-width: 767px){
	.live_match {
	    font-size: 10px;
	}
	.extras_field input[type="checkbox"], .extras_field input[type="radio"]{
		margin-top: 0;
	}
	.this_over h4{
		margin: 0;
		font-size: 12px;
	}
	.this_over h4 span{
		border: 1px solid #ddd;
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 17px;
		border-radius: 50%;
		margin-right: 10px;
	}
	.extras_field .box-footer{
		padding: 0;
	}
	.live_match .box{
		margin-bottom: 5px;
	}
	.this_over h4 b{
		margin-right: 10px;
	}
	.undo-btn .form-group, .extras_field .form-group{
		margin-bottom: 0;
	}
	.box-footer button.btn-success, .box-body button.btn-info{
		width: 120px;
	}
	.box-footer button.btn-success:first-child, .box-body button.btn-info:first-child{
		margin-right: 10px;
	}
	#playersDetails .players-table table tr td:first-child{
		width: 300px;
	}

}

@media(max-width: 575px){
	.col-xs-6.players-table{
		width: 100%;
	}
}

.live_match {
	position: relative;
}


/** ########################################################### */

/*.loader {*/
	/*position:fixed;*/
	/*width:100%;*/
	/*left:0;right:0;top:0;bottom:0;*/
	/*background-color: rgba(255,255,255,0.7);*/
	/*z-index:9999;*/
	/*display:none;*/
/*}*/

/*@-webkit-keyframes spin {*/
	/*from {-webkit-transform:rotate(0deg);}*/
	/*to {-webkit-transform:rotate(360deg);}*/
/*}*/

/*@keyframes spin {*/
	/*from {transform:rotate(0deg);}*/
	/*to {transform:rotate(360deg);}*/
/*}*/

/*.loader::after {*/
	/*content:'';*/
	/*display:block;*/
	/*position:absolute;*/
	/*left:48%;top:40%;*/
	/*width:40px;height:40px;*/
	/*border-style:solid;*/
	/*border-color:black;*/
	/*border-top-color:transparent;*/
	/*border-width: 4px;*/
	/*border-radius:50%;*/
	/*-webkit-animation: spin .8s linear infinite;*/
	/*animation: spin .8s linear infinite;*/
/*}*/
.swal2-popup {
	font-size: 1.6rem !important;
}